body {
  background-image: linear-gradient(to bottom right, #7220a0, #e6b7f3);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.animacaoEfeitoFlutuando{
  animation: animacaoEfeitoFlutuando 5s ease-in-out infinite;
}

.cardVidro {
  background-color: unset!important;
  background-image: linear-gradient(-30deg, rgba(255,255,255,0.3), gba(255,255,255,0.6), 60%);
  background-repeat: no-repeat;
  background-size: cover;
}

.containerMargin{
  margin-top: 2rem;
}


@keyframes animacaoEfeitoFlutuando {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.animacaoEfeitoGirar{
  animation: animacaoEfeitoGirar 30s linear infinite;
}

@keyframes animacaoEfeitoGirar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}